
.navbar-inverse {
  font-family: 'Arial', sans-serif;
}

body{
  font-family: 'Arial', sans-serif;
}

#title{
	font-family: 'Arial', sans-serif;
	font-size: medium;
	color:red;
}

.table{
    color:black;
}

body h3{
    color:black;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: ;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: red;
}

#Roster{
    color:black;
}



